#container
	{
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		width: 1160px;
		margin-left: auto;
		margin-right: auto;
	}
	#logo
	{
	 background-color: black;
	 color: white;
	 text-align: center;
	 padding: 15px;
	}

	#nav
	{
		text-align: justify;
		float: left;
		background-color: green;
		width: 190px;
		min-height: 620px;
		padding: 10px;
	}
	
	#content
	{
		text-align: justify;
		float: left;
		padding: 20px;
		width: 700px
	}
	
	#ad
	{
		float: left;
		width: 190px;
		min-height: 620px;
		padding: 10px;
		background-color: red;
	}
	
	#footer
	{
		clear: both;
		color: white;
		background-color: black;
		text-align: center;
		padding: 20px;

	}